<%= erb :header %>

<div class="container">
  <h2>Are you sure you want to delete the build day for <%= @date %>?</h2>
  <p>This will remove the build day from the calendar and exclude related sessions from totals.</p>
  <form action="" method="POST">
    <input type="submit" class="btn btn-danger btn-medium" value="Yes" />
    <input type="hidden" name="referrer" value="<%= @referrer %>" />
  </form>
</div>

<%= erb :footer %>
