<%= erb :header %>

<div class="container">
  <h2>Mark this build day as required?</h2>
  <form action="" method="POST">
    <input type="submit" class="btn btn-danger btn-medium" value="Mark required" />
    <input type="hidden" name="referrer" value="<%= @referrer %>" />
  </form>
</div>

<%= erb :footer %>
