<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cheesy Hours</title>
  <link rel="shortcut icon" href="//media.team254.com/homepage/icons/favicon32.png">
  <link rel="apple-touch-icon" sizes="114x114" href="http://media.team254.com/homepage/icons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="http://media.team254.com/homepage/icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" href="http://media.team254.com/homepage/icons/apple-touch-icon-57x57.png">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/css.css" rel="stylesheet" type="text/css" />
  <script src="/js/jquery-1.10.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <img
        id="logo"
        src="./imgs/Compressed-254-Swoosh.png"
      >
      <a class="brand" href="/">Cheesy Hours</a>
      <ul class="nav">
        <li><a href="/leader_board"></i> Leader Board</a></li>
        <% if @user && @user.has_permission?("HOURS_EDIT") %>
          <li><a href="/mentors">Manage Mentors</a></li>
        <% end %>
      </ul>
      <div class="pull-right">
        <ul class="nav pull-right">
          <% if @user %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user icon-white"></i>
                <%= @user.name_display %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/logout"><i class="icon-off"></i> Logout</a>
                </li>
              </ul>
            </li>
          <% else %>
            <li><a href="<%= CheesyCommon::Config.members_url %>?site=hours&path=/"><i class="icon-bar-chart"></i> Login</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
