<%= erb :header %>
	<div class="container">
	</div>
	<script>

		
		var ws = new WebSocket("wss://" + window.location.host + "/tag_ws");

		var currentTagCount = 0;
		ws.onmessage = function(data){
			var dat = JSON.parse(data.data)
			console.log(dat)
			if (dat.signin != undefined) {
				var toappend = $("<h1>" + dat.signin + "</h1>").hide().fadeIn()

				$(".container").append(toappend)

				setTimeout(function(){
					toappend.fadeOut()
				}, 5000)
			}
		};

		setTimeout(function() {
			window.location.reload();
		}, 30000)
		
	</script>
<%= erb :footer %>