<%= erb :header %>

<div class="container">
  <h2>Create an optional build</h2>
  <form action="" method="POST">
    <input type="hidden" name="referrer" value="<%= @referrer %>" />
    <label for="date">Optional Build Date</label>
    <input type="date" name="date" value="<%= @date rescue "" %>">
    <p>
      Students will receive credit for attending optional builds but will
      not be penalized if absent.
    </p>
    <label><input type="submit" class="btn btn-success btn-medium" value="Save"></label>
  </form>
</div>

<%= erb :footer %>